# Ignore environment variables files
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore temporary files
*~